.mainComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.terminalHeader {
  padding: 12px;
}
.leftComponent {
  margin-left: 12px;

  /* width: 70%; */
}
.rightComponent {
  width: 30%;
}
.chartContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  border: 1px solid black;
  border-radius: 0px 0px 15px 15px;
}
.listItem {
  cursor: pointer;
}
.chartHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 15px 15px 0px 0px;
}
.instrumentNameHeader {
  font-weight: bolder;
  margin-left: 50px;
}
.orderbookContainer {
  margin-top: 20px;
}
.orderCard {
  display: flex;
  flex-direction: column;
}
.btn-cont {
  width: 50%;
}
.btn {
  width: 50%;
}
